<h2>Your orders:</h2>

<%@order_items.each do |item| %>
  <%= link_to Product.find(item.product_id).name, product_path(item.product_id)%>: <%= User.find_by(id: item.order.user_id).username%>
  <%= item.order.updated_at %> <%= item.order.status%>
<%end%>
