/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html {
   background-color: #444;
   align: center;
   text-align: center;
   height: 100%;
 }

 body {
   width: 100%;
   background-color: #444;
   color: #eee;
   height: 100%;
 }

 .navbar .navbar-collapse {
  text-align: center;
}

nav {
  vertical-align: top;
  float: none;
  background-color: #111;
  display: inline-block;
  width: 100%;  background-color: #444;
  border: 1px solid rgba(100, 100, 100, 0.5);
  text-align: center;
}

nav li{
  line-height: 2rem;
  margin: 0;
}

ul {
  display: inline-block;
  text-decoration: none;
  list-style: none;
  text-align: center;
  margin: auto;
}

.sidebar {
  text-align: left;
  z-index: 1;
  float: left;
  height: 100%;
  width: 25%;
  background-color: rgb(100, 100, 100);
  color: #333;
  margin: auto;
  text-decoration: none;
  list-style: none;
  padding: 1rem;
  margin-left: .5rem;
}

.sidebar a {
  width: 90%;
  color: #eee;
}

footer {
  bottom: auto;
}
/*img {
  width: 33%;
  float: left;
}*/
