<h1>Products Index</h1>

<section>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product.id) %></li>
    <%end%>
  </ul>
</section>

<section>
  <% if current_user %>
  <li><%= button_to "Add a new product!", new_user_product_path(current_user.id), :method => :get %></li>
  <% end %>
</section>
